@import url(base.css);

/* mise en page de la page*/
body{
    font-family: "lato", sans-serif;
    font-size: calc(0.3rem + 1.5vw);
    font-size: 1rem;
    background-image: url("../images/fond3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;   
     max-width: 100vw;
    display: flex;
     justify-content: center;
     align-items: center;     
}

/* mise en page du cadre du jeu   */
.container-game{     
   position: relative;
    border: 20px solid var(--color3);
    border-image: linear-gradient(-360deg, var(--color1), var(--color4));
    border-image-slice: 1;
     background-color: var(--color2); 
    width: 70%;
    height: 80%;
    max-width: 850px;
    display: grid;
    grid-template-columns: 3fr 3fr;    
    grid-auto-rows: minmax(105px, auto);  
    grid-template-areas:     
    "player1 player2"
    "player1 player2"
    "player1 player2"
    "player1 player2";
}

.container-player-1{     
    grid-area: player1;
    width: 100%;    
}

.container-player-2{    
    grid-area: player2;
    width: 100%;
}   

.title-player{
    display: flex;
    align-items: center;
   justify-content: center;
   text-transform: uppercase;
}

.player-active{
    background-color: var(--color3);
}

/* point player actif  */
.circle{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    background-color:var(--color4);
}

.player-disable{
    background-color: #333;
    opacity: 0.2;
    
}

.container-text{   
    padding: 0 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
}

.container-player-1,
.container-player-2{   
    display: flex;    
    flex-direction: column;
}

/* box shadow container game */
.right {
    box-shadow: 5px 0 5px -5px rgb(20, 20, 20);
}

.bottom {
    box-shadow: 0 5px 5px -5px rgb(20, 20, 20);
}

.left {
    box-shadow: -5px 0 5px -5px rgb(20, 20, 20);
}

/* postion du container parameters */
.parameters-game {   
    position: absolute;
    margin-top: 0;
    height: 100%;
    width: 100%;       
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

/* mise en page du texte du jeu */
.global,
.number-round{
    text-align: center;
}

h2{
    font-size: 2.1rem;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.global{    
    margin-top: 20px;
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--color4);
}

.round{    
    font-weight: 600;
    padding: 20px;
    width: auto;
    background-color: var(--color4);
    margin: 100px auto 20px auto;  
    border-radius: 3px;  
}

.number-round{
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--color2);
    text-shadow: -2px 2px 2px rgba(0,0,0,0.97);
}

/* mise en page des parameters */
.bloc-new-game{   
    margin-top: -70px;    
    display: flex;
    align-items: center;    
}

.bloc-new-game,
.bloc-items{
    font-weight: 400;
}

.bloc-dice{     
    position: relative; 
    margin-top: 100px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dice{    
    width: 12vh;
}

.text-dice{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid var(--color4);
    border-top: 1px solid var(--color4);
    background-color: var(--color1);  
    line-height: 20px;  
    top: 125px;
    min-width: 160px;   
    width: 268px;  
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 3px;
    border-radius: 5px;
}

.text-dice-disable{
    visibility: hidden;
}

.shake{    
    animation: shake 0.5s infinite;
}

/* animation dice */
@keyframes shake{
 from{
    transform: rotate(0deg); 
 }   
 to{
     transform: rotate(360deg);
 }
}
CC
.bloc-items{   
    display: flex;
    flex-direction: column;
}

.items-roll-dice,
.items-hold{
    display: flex;
    align-items: center;
}

.items-disable{
    display: flex;
    align-items: center;
    opacity: 0.5;
    pointer-events: none;
}

.items-roll-dice {
   margin-top: 115px;
   margin-bottom: 30px;
}

.icon{
    width: 25px;
    padding: 2px;
    
}

.space-icon{
    margin-left: 6px;
}

button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

button:hover{
   transform: scale(1.2) translate(3%);   
   border-bottom: 1px solid var(--color4);
}

.roll-dice,
.hold,
.new-game{
    font-size: 1.1rem;
    text-transform: uppercase;
}